In [19]:
import pandas as pd
import nltk
from collections import Counter
from nltk.text import Text
import nltk.corpus
import sys
import spacy
from spacy import displacy

In [151]:
!pip install -U spacy

Collecting spacy
  Downloading https://files.pythonhosted.org/packages/53/66/facc29889e0be6cceb64cbb9d4dff45a3defee79b333d41c8a2597eb6b5e/spacy-2.3.2-cp37-cp37m-macosx_10_9_x86_64.whl (10.0MB)
     |████████████████████████████████| 10.0MB 2.2MB/s eta 0:00:01
Collecting thinc==7.4.1 (from spacy)
  Downloading https://files.pythonhosted.org/packages/f8/3f/9cee434ca42cd7902c1369038daf6c78e06bc101750aa75c6eed1a7bdf03/thinc-7.4.1-cp37-cp37m-macosx_10_9_x86_64.whl (2.1MB)
     |████████████████████████████████| 2.1MB 6.8MB/s eta 0:00:01
Collecting preshed<3.1.0,>=3.0.2 (from spacy)
  Downloading https://files.pythonhosted.org/packages/c7/3e/9aaba1f8c0cb69e57ebeb411cc1b65b3f6bfc3572dd68969a6d3e59288f6/preshed-3.0.2-cp37-cp37m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (211kB)
     |████████████████████████████████| 215kB 8.5MB/s eta 0:00:01
Collecting plac<1.2.0,>=0.9.6 (from spacy)
  Downloading https://files.pythonhosted.org/packages/86/85/40b8f66c2dd8f4fd9f09d59b22720cffecf1331e788b8a0cab5bafb353d1/plac-1.1.3-py2.py3-none-any.whl
Collecting blis<0.5.0,>=0.4.0 (from spacy)
  Downloading https://files.pythonhosted.org/packages/85/d8/f0be9d8ebec9cbeea1427de6ac0ecc919c0bfe881eff2d2965dbc310ca8b/blis-0.4.1-cp37-cp37m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (4.0MB)
     |████████████████████████████████| 4.0MB 3.3MB/s eta 0:00:01
Collecting tqdm<5.0.0,>=4.38.0 (from spacy)
  Downloading https://files.pythonhosted.org/packages/93/3a/96b3dc293aa72443cf9627444c3c221a7ba34bb622e4d8bf1b5d4f2d9d08/tqdm-4.51.0-py2.py3-none-any.whl (70kB)
     |████████████████████████████████| 71kB 5.3MB/s eta 0:00:01
Requirement already satisfied, skipping upgrade: numpy>=1.15.0 in /opt/anaconda3/lib/python3.7/site-packages (from spacy) (1.17.2)
Collecting cymem<2.1.0,>=2.0.2 (from spacy)
  Downloading https://files.pythonhosted.org/packages/63/34/a8b682ee9b57db35a5fe4e179b77c1bda0f6a09745669a99cfc27aa2bed7/cymem-2.0.3-cp37-cp37m-macosx_10_6_intel.whl (54kB)
     |████████████████████████████████| 61kB 12.0MB/s eta 0:00:01
Collecting srsly<1.1.0,>=1.0.2 (from spacy)
  Downloading https://files.pythonhosted.org/packages/77/21/2bfb8d559ed128b43e3a12e28579ab5f6b043f1ac079168de3025c0d0a39/srsly-1.0.2-cp37-cp37m-macosx_10_9_x86_64.whl (182kB)
     |████████████████████████████████| 184kB 19.4MB/s eta 0:00:01
Requirement already satisfied, skipping upgrade: setuptools in /opt/anaconda3/lib/python3.7/site-packages (from spacy) (41.4.0)
Collecting wasabi<1.1.0,>=0.4.0 (from spacy)
  Downloading https://files.pythonhosted.org/packages/1b/10/55f3cf6b52cc89107b3e1b88fcf39719392b377a3d78ca61da85934d0d10/wasabi-0.8.0-py3-none-any.whl
Collecting catalogue<1.1.0,>=0.0.7 (from spacy)
  Downloading https://files.pythonhosted.org/packages/6c/f9/9a5658e2f56932e41eb264941f9a2cb7f3ce41a80cb36b2af6ab78e2f8af/catalogue-1.0.0-py2.py3-none-any.whl
Collecting murmurhash<1.1.0,>=0.28.0 (from spacy)
  Downloading https://files.pythonhosted.org/packages/b9/bd/faace403086ee922afc74e5615cb8c21020fcf5d5667314e943c08f71fde/murmurhash-1.0.2-cp37-cp37m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl
Requirement already satisfied, skipping upgrade: requests<3.0.0,>=2.13.0 in /opt/anaconda3/lib/python3.7/site-packages (from spacy) (2.22.0)
Requirement already satisfied, skipping upgrade: importlib-metadata>=0.20; python_version < "3.8" in /opt/anaconda3/lib/python3.7/site-packages (from catalogue<1.1.0,>=0.0.7->spacy) (0.23)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda3/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.24.2)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy) (2019.9.11)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /opt/anaconda3/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.0.4)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in /opt/anaconda3/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.8)
Requirement already satisfied, skipping upgrade: zipp>=0.5 in /opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy) (0.6.0)
Requirement already satisfied, skipping upgrade: more-itertools in /opt/anaconda3/lib/python3.7/site-packages (from zipp>=0.5->importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy) (7.2.0)
Installing collected packages: srsly, plac, tqdm, blis, murmurhash, cymem, preshed, catalogue, wasabi, thinc, spacy
  Found existing installation: tqdm 4.36.1
    Uninstalling tqdm-4.36.1:
      Successfully uninstalled tqdm-4.36.1
Successfully installed blis-0.4.1 catalogue-1.0.0 cymem-2.0.3 murmurhash-1.0.2 plac-1.1.3 preshed-3.0.2 spacy-2.3.2 srsly-1.0.2 thinc-7.4.1 tqdm-4.51.0 wasabi-0.8.0

In [20]:
news_cat_df = pd.read_pickle('news_cat.pkl')

In [21]:
news_cat_df.head()

,crawled,language,text,title
0,2018-01-30T23:03:51.004+02:00,english,by Abhishek K Global Telehandler Market 2023 D...,Global Telehandler Market 2023 Demand by Segme...
1,2018-01-30T23:06:46.024+02:00,english,favorite this post 2014 Caterpillar 314E LCR h...,2014 Caterpillar 314E LCR
2,2018-01-30T23:18:35.023+02:00,english,By: MAX NISEN The Amazon health care threat ha...,"Amazon, Berkshire, JPMorgan health announcemen..."
3,2018-01-30T23:20:54.012+02:00,english,QR Code Link to This Post MONTHLY PUBLIC AUCTI...,2005 Caterpillar CB534D Tandem Vibratory Rolle...
4,2018-01-30T23:28:30.000+02:00,english,QR Code Link to This Post 2007 CATERPILLAR D4G...,2007 CATERPILLAR D4G LGP CAB SCREEN/SWEEPS - O...

In [22]:
news_cat_df.shape

(100, 4)

In [23]:
news_cat_df['language'].value_counts()

english    100
Name: language, dtype: int64

In [24]:
# Discarding non-english results
news_cat_df = news_cat_df[news_cat_df['language'] == 'english']

In [115]:
news_cat_df.shape

(100, 4)

In [25]:
#Identifying what companies are mentioned most frequently along with caterpillar
news_cat_df = news_cat_df[(news_cat_df['text'].str.contains('Caterpillar')) | (news_cat_df['text'].str.contains('CATERPILLAR')) | (news_cat_df['text'].str.contains('CAT')) | (news_cat_df['text'].str.contains('Cat'))\
& (news_cat_df['title'].str.contains('Caterpillar')) | (news_cat_df['title'].str.contains('CATERPILLAR')) | (news_cat_df['title'].str.contains('CAT')) | (news_cat_df['title'].str.contains('Cat'))]

In [26]:
news_cat_df.head()

,crawled,language,text,title
0,2018-01-30T23:03:51.004+02:00,english,by Abhishek K Global Telehandler Market 2023 D...,Global Telehandler Market 2023 Demand by Segme...
1,2018-01-30T23:06:46.024+02:00,english,favorite this post 2014 Caterpillar 314E LCR h...,2014 Caterpillar 314E LCR
3,2018-01-30T23:20:54.012+02:00,english,QR Code Link to This Post MONTHLY PUBLIC AUCTI...,2005 Caterpillar CB534D Tandem Vibratory Rolle...
4,2018-01-30T23:28:30.000+02:00,english,QR Code Link to This Post 2007 CATERPILLAR D4G...,2007 CATERPILLAR D4G LGP CAB SCREEN/SWEEPS - O...
5,2018-01-30T23:33:58.023+02:00,english,Elite Wealth Management Inc. Acquires Shares o...,Elite Wealth Management Inc. Acquires Shares o...

# Entities labels creation

In [27]:
def create_entities_labels(x):
    entities = []
    labels = []

    # chunking the entire title and text using NLTK into sentences in the form of a tree structire ot list of lists.
    # The values can be retrieved by traversing the trees or list of lists
    
    for i in nltk.sent_tokenize(x):
        for chunk in nltk.ne_chunk(nltk.pos_tag(nltk.word_tokenize(i)), binary = False):
            if hasattr(chunk, 'label') and chunk.label()=='ORGANIZATION':
                entities.append(' '.join(c[0] for c in chunk)) #Add space as between multi-token entities
                labels.append(chunk.label())

    entities_labels = list(zip(entities, labels))  #unique entities
    entities_df = pd.DataFrame(entities_labels)
    if entities_df.empty:
        return pd.DataFrame({'entity':[], 'label':[], 'Count':[]})
    else:
        entities_df.columns = ["entity", "label"]
        return entities_df.groupby(['entity']).label.value_counts().reset_index(name='Count')

# Aggregating the labels

In [28]:
def aggregate_labels(item):
    item = item.sort_values('Count', ascending=False)
    return item.groupby('entity').agg({'label' : lambda x: x.iloc[0], 'Count' : 'sum', }).reset_index()

The "crawled" feature in the dataframe retrieved from the pickle file represents articles. Now we are going to create chunks out of each sentences of these articles and then tokenize them. Entities and labels can be created after tokenizing and then we can count how many times each entity was mentioned in each of those articles.

In [29]:
total_labels_text = []
total_labels_title = []

for i, each_row in news_cat_df.iterrows():
    
    labels_in_text = aggregate_labels(create_entities_labels(each_row['text']))
    labels_in_text['no_of_articles'] = 1
    total_labels_text.append(labels_in_text)
    
    labels_in_titles = aggregate_labels(create_entities_labels(each_row['title']))
    labels_in_titles['no_of_articles'] = 1
    total_labels_title.append(labels_in_titles)
    
text_concat  = pd.concat(total_labels_text)
title_concat = pd.concat(total_labels_title)

In [30]:
results_df = pd.merge(
    text_concat.groupby(['entity', 'label'])\
        .agg({'Count':'sum', 'no_of_articles': 'sum'})\
        .reset_index()\
        .rename(columns={'Count':'mentions_articles'}),
    title_concat.groupby(['entity', 'label'])\
        .agg({'Count':'sum', 'no_of_articles': 'sum'})\
        .reset_index()\
        .rename(columns={
            'Count':'mentions_titles', 
            'no_of_articles': 'no_of_titles'}),
    how='outer',
    on=['entity', 'label']).fillna(0)

In [31]:
results_df['total_no_mentions'] = results_df.mentions_articles + results_df.mentions_titles
results_df.sort_values('total_no_mentions', ascending=False, inplace=True)

In [32]:
results_df.head(60)

,entity,label,mentions_articles,no_of_articles,mentions_titles,no_of_titles,total_no_mentions
149,Caterpillar Inc.,ORGANIZATION,83.0,23.0,13.0,13.0,96.0
144,Caterpillar,ORGANIZATION,87.0,33.0,0.0,0.0,87.0
465,NYSE,ORGANIZATION,59.0,22.0,4.0,4.0,63.0
97,CAT,ORGANIZATION,43.0,25.0,12.0,12.0,55.0
142,Cat,ORGANIZATION,36.0,17.0,0.0,0.0,36.0
166,Company,ORGANIZATION,27.0,17.0,0.0,0.0,27.0
595,SEC,ORGANIZATION,23.0,14.0,0.0,0.0,23.0
359,JPMorgan,ORGANIZATION,21.0,12.0,0.0,0.0,21.0
666,Transportation,ORGANIZATION,20.0,18.0,0.0,0.0,20.0
246,Exchange Commission,ORGANIZATION,20.0,14.0,0.0,0.0,20.0
579,Resource Industries,ORGANIZATION,20.0,19.0,0.0,0.0,20.0
615,Securities,ORGANIZATION,20.0,14.0,0.0,0.0,20.0
174,Construction Industries,ORGANIZATION,19.0,18.0,0.0,0.0,19.0
273,Financial Products,ORGANIZATION,19.0,18.0,0.0,0.0,19.0
236,Energy,ORGANIZATION,19.0,18.0,0.0,0.0,19.0
350,Investment,ORGANIZATION,16.0,9.0,0.0,0.0,16.0
461,NOT,ORGANIZATION,15.0,15.0,0.0,0.0,15.0
379,LLC,ORGANIZATION,14.0,6.0,0.0,0.0,14.0
535,Partners,ORGANIZATION,12.0,6.0,1.0,1.0,13.0
393,Lincolnian Online,ORGANIZATION,12.0,6.0,0.0,0.0,12.0
706,Vista Partners,ORGANIZATION,11.0,3.0,0.0,0.0,11.0
566,Ratings,ORGANIZATION,11.0,11.0,0.0,0.0,11.0
479,News,ORGANIZATION,11.0,11.0,0.0,0.0,11.0
443,Motley Fool,ORGANIZATION,10.0,5.0,0.0,0.0,10.0
208,Dow,ORGANIZATION,9.0,3.0,0.0,0.0,9.0
106,CFO Bradley,ORGANIZATION,8.0,8.0,0.0,0.0,8.0
694,VIOLATION,ORGANIZATION,8.0,8.0,0.0,0.0,8.0
747,GENERATORS,ORGANIZATION,0.0,0.0,8.0,8.0,8.0
228,EPS,ORGANIZATION,8.0,8.0,0.0,0.0,8.0
253,FMR,ORGANIZATION,8.0,4.0,0.0,0.0,8.0
738,DIESEL,ORGANIZATION,0.0,0.0,8.0,8.0,8.0
447,NASDAQ,ORGANIZATION,8.0,4.0,0.0,0.0,8.0
63,Bank,ORGANIZATION,8.0,6.0,0.0,0.0,8.0
137,Capital Group,ORGANIZATION,8.0,4.0,0.0,0.0,8.0
0,AAPL,ORGANIZATION,7.0,6.0,0.0,0.0,7.0
71,Berkshire Hathaway,ORGANIZATION,6.0,4.0,1.0,1.0,7.0
703,Vetr,ORGANIZATION,7.0,1.0,0.0,0.0,7.0
711,WFG,ORGANIZATION,7.0,4.0,0.0,0.0,7.0
720,Wonderland,ORGANIZATION,3.0,3.0,3.0,3.0,6.0
136,Capital,ORGANIZATION,5.0,4.0,1.0,1.0,6.0
358,JPM,ORGANIZATION,6.0,6.0,0.0,0.0,6.0
391,Ledger Gazette,ORGANIZATION,6.0,3.0,0.0,0.0,6.0
705,Vision,ORGANIZATION,6.0,6.0,0.0,0.0,6.0
201,Dealer Mustang,ORGANIZATION,6.0,6.0,0.0,0.0,6.0
460,NOS Events Center,ORGANIZATION,6.0,3.0,0.0,0.0,6.0
509,PAAR,ORGANIZATION,6.0,3.0,0.0,0.0,6.0
182,Countries,ORGANIZATION,6.0,1.0,0.0,0.0,6.0
493,OSF,ORGANIZATION,6.0,3.0,0.0,0.0,6.0
258,FREE,ORGANIZATION,6.0,6.0,0.0,0.0,6.0
185,Credit Suisse Group,ORGANIZATION,6.0,5.0,0.0,0.0,6.0
238,Ephrata,ORGANIZATION,3.0,3.0,3.0,3.0,6.0
119,COPYRIGHT,ORGANIZATION,5.0,5.0,0.0,0.0,5.0
129,CVS,ORGANIZATION,5.0,5.0,0.0,0.0,5.0
412,MMM,ORGANIZATION,5.0,5.0,0.0,0.0,5.0
674,UK,ORGANIZATION,5.0,5.0,0.0,0.0,5.0
406,MCD,ORGANIZATION,5.0,3.0,0.0,0.0,5.0
679,USA,ORGANIZATION,5.0,3.0,0.0,0.0,5.0
221,EHS,ORGANIZATION,5.0,1.0,0.0,0.0,5.0
617,Security National Trust,ORGANIZATION,4.0,2.0,1.0,1.0,5.0
722,YCharts,ORGANIZATION,5.0,3.0,0.0,0.0,5.0

In [33]:
results_df = results_df[~results_df.entity.isin(['Caterpillar', 'Caterpillar Inc.', 'CAT', 'Cat'])]
results_df.head(10)

,entity,label,mentions_articles,no_of_articles,mentions_titles,no_of_titles,total_no_mentions
465,NYSE,ORGANIZATION,59.0,22.0,4.0,4.0,63.0
166,Company,ORGANIZATION,27.0,17.0,0.0,0.0,27.0
595,SEC,ORGANIZATION,23.0,14.0,0.0,0.0,23.0
359,JPMorgan,ORGANIZATION,21.0,12.0,0.0,0.0,21.0
666,Transportation,ORGANIZATION,20.0,18.0,0.0,0.0,20.0
246,Exchange Commission,ORGANIZATION,20.0,14.0,0.0,0.0,20.0
579,Resource Industries,ORGANIZATION,20.0,19.0,0.0,0.0,20.0
615,Securities,ORGANIZATION,20.0,14.0,0.0,0.0,20.0
174,Construction Industries,ORGANIZATION,19.0,18.0,0.0,0.0,19.0
273,Financial Products,ORGANIZATION,19.0,18.0,0.0,0.0,19.0

In [34]:
results_df = results_df[(results_df.label != 'GPE')] 
results_df = results_df[~results_df.entity.isin(['Transportation','SEC', 'Securities', 'Stock', 'Exchange Commission'])]
results_df = results_df[~results_df.entity.isin(['Energy', 'Resource Industries', 'Company', 'Financial Products', 'Construction Industries'])]
results_df = results_df[~results_df.entity.isin(['News', 'NOT', 'LLC', 'Partners', 'Thomas', 'Investment', 'Construction', 'Bank'])]
results_df.head(20)

,entity,label,mentions_articles,no_of_articles,mentions_titles,no_of_titles,total_no_mentions
465,NYSE,ORGANIZATION,59.0,22.0,4.0,4.0,63.0
359,JPMorgan,ORGANIZATION,21.0,12.0,0.0,0.0,21.0
393,Lincolnian Online,ORGANIZATION,12.0,6.0,0.0,0.0,12.0
706,Vista Partners,ORGANIZATION,11.0,3.0,0.0,0.0,11.0
566,Ratings,ORGANIZATION,11.0,11.0,0.0,0.0,11.0
443,Motley Fool,ORGANIZATION,10.0,5.0,0.0,0.0,10.0
208,Dow,ORGANIZATION,9.0,3.0,0.0,0.0,9.0
106,CFO Bradley,ORGANIZATION,8.0,8.0,0.0,0.0,8.0
694,VIOLATION,ORGANIZATION,8.0,8.0,0.0,0.0,8.0
747,GENERATORS,ORGANIZATION,0.0,0.0,8.0,8.0,8.0
228,EPS,ORGANIZATION,8.0,8.0,0.0,0.0,8.0
253,FMR,ORGANIZATION,8.0,4.0,0.0,0.0,8.0
738,DIESEL,ORGANIZATION,0.0,0.0,8.0,8.0,8.0
447,NASDAQ,ORGANIZATION,8.0,4.0,0.0,0.0,8.0
137,Capital Group,ORGANIZATION,8.0,4.0,0.0,0.0,8.0
0,AAPL,ORGANIZATION,7.0,6.0,0.0,0.0,7.0
71,Berkshire Hathaway,ORGANIZATION,6.0,4.0,1.0,1.0,7.0
703,Vetr,ORGANIZATION,7.0,1.0,0.0,0.0,7.0
711,WFG,ORGANIZATION,7.0,4.0,0.0,0.0,7.0
720,Wonderland,ORGANIZATION,3.0,3.0,3.0,3.0,6.0

In [35]:
results_df = results_df[(results_df.label == 'ORGANIZATION')]

In [36]:
results_df.head(20)

,entity,label,mentions_articles,no_of_articles,mentions_titles,no_of_titles,total_no_mentions
465,NYSE,ORGANIZATION,59.0,22.0,4.0,4.0,63.0
359,JPMorgan,ORGANIZATION,21.0,12.0,0.0,0.0,21.0
393,Lincolnian Online,ORGANIZATION,12.0,6.0,0.0,0.0,12.0
706,Vista Partners,ORGANIZATION,11.0,3.0,0.0,0.0,11.0
566,Ratings,ORGANIZATION,11.0,11.0,0.0,0.0,11.0
443,Motley Fool,ORGANIZATION,10.0,5.0,0.0,0.0,10.0
208,Dow,ORGANIZATION,9.0,3.0,0.0,0.0,9.0
106,CFO Bradley,ORGANIZATION,8.0,8.0,0.0,0.0,8.0
694,VIOLATION,ORGANIZATION,8.0,8.0,0.0,0.0,8.0
747,GENERATORS,ORGANIZATION,0.0,0.0,8.0,8.0,8.0
228,EPS,ORGANIZATION,8.0,8.0,0.0,0.0,8.0
253,FMR,ORGANIZATION,8.0,4.0,0.0,0.0,8.0
738,DIESEL,ORGANIZATION,0.0,0.0,8.0,8.0,8.0
447,NASDAQ,ORGANIZATION,8.0,4.0,0.0,0.0,8.0
137,Capital Group,ORGANIZATION,8.0,4.0,0.0,0.0,8.0
0,AAPL,ORGANIZATION,7.0,6.0,0.0,0.0,7.0
71,Berkshire Hathaway,ORGANIZATION,6.0,4.0,1.0,1.0,7.0
703,Vetr,ORGANIZATION,7.0,1.0,0.0,0.0,7.0
711,WFG,ORGANIZATION,7.0,4.0,0.0,0.0,7.0
720,Wonderland,ORGANIZATION,3.0,3.0,3.0,3.0,6.0

In [37]:
results_df = results_df[~results_df.entity.isin(['Ratings','GENERATORS', 'NASDAQ', 'Wonderland', 'Dow', 'NYSE'])]
results_df.head(20)

,entity,label,mentions_articles,no_of_articles,mentions_titles,no_of_titles,total_no_mentions
359,JPMorgan,ORGANIZATION,21.0,12.0,0.0,0.0,21.0
393,Lincolnian Online,ORGANIZATION,12.0,6.0,0.0,0.0,12.0
706,Vista Partners,ORGANIZATION,11.0,3.0,0.0,0.0,11.0
443,Motley Fool,ORGANIZATION,10.0,5.0,0.0,0.0,10.0
106,CFO Bradley,ORGANIZATION,8.0,8.0,0.0,0.0,8.0
694,VIOLATION,ORGANIZATION,8.0,8.0,0.0,0.0,8.0
228,EPS,ORGANIZATION,8.0,8.0,0.0,0.0,8.0
253,FMR,ORGANIZATION,8.0,4.0,0.0,0.0,8.0
738,DIESEL,ORGANIZATION,0.0,0.0,8.0,8.0,8.0
137,Capital Group,ORGANIZATION,8.0,4.0,0.0,0.0,8.0
0,AAPL,ORGANIZATION,7.0,6.0,0.0,0.0,7.0
71,Berkshire Hathaway,ORGANIZATION,6.0,4.0,1.0,1.0,7.0
703,Vetr,ORGANIZATION,7.0,1.0,0.0,0.0,7.0
711,WFG,ORGANIZATION,7.0,4.0,0.0,0.0,7.0
136,Capital,ORGANIZATION,5.0,4.0,1.0,1.0,6.0
358,JPM,ORGANIZATION,6.0,6.0,0.0,0.0,6.0
391,Ledger Gazette,ORGANIZATION,6.0,3.0,0.0,0.0,6.0
705,Vision,ORGANIZATION,6.0,6.0,0.0,0.0,6.0
201,Dealer Mustang,ORGANIZATION,6.0,6.0,0.0,0.0,6.0
460,NOS Events Center,ORGANIZATION,6.0,3.0,0.0,0.0,6.0

Entity label creation using NLTK didnt yield expected or ideal results for us but still its much better from where we started out.

I have also used spacy . Even that did not deliver good results